.container
    .header-ecored
        h1 1. La manufactura del cuero.
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid
        p.mt-5 “El cuero es uno de los primeros materiales procesados por el ser humano desde tiempos remotos, no solamente como fuente de recursos prácticos, sino también como portador de significados culturales, religiosos y sociales” Reissig (2007), el trabajo con el cuero se conoce como manufactura y se compone de varios procesos en los que se inicia desde la generación de la materia prima y su curtido; se convierten las pieles en materia prima “cuero” con los que posteriormente se obtienen productos de marroquinería, talabartería, tapicería, calzado y confección de prendas de vestir entre otros muchos accesorios, la autora Ángela Ramirez lo entiende también así (2009) “el cuero es una materia prima que ha acompañado al hombre en toda su historia. Desde cuando lo utilizó para proteger su cuerpo desnudo, descubrió su calidad, versatilidad y resistencia. Primero fue el abrigo, que se convirtió en vestido. Después vinieron las sandalias y los zapatos”. 
        p Como lo sostiene Reissig (2007) “un breve repaso sobre las distintas aplicaciones del cuero en la sociedad nos permite diferenciar entre aplicaciones netamente prácticas y de aquellas que adquieren un carácter más suntuoso” es por eso que desde los inicios en la elaboración de artículos de cuero, se han desarrollado procesos artesanales y en la actualidad como resultado de la innovación tecnológica se han venido implementando procesos productivos tecnificados con maquinaria computarizada para el desarrollo de todos estos artículos productos.
        p Para entrar en contexto con el modelado en complementos de marroquinería, es importante conocer los siguientes términos:

        .row.justify-content-center
            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img3.png").img-fluid    
                        h3 Marroquinería 
                        .hr-gray
                        p.mt-3 Es el arte del cuero, donde este se transforma en productos ya sean de pequeña medida o de grande marroquinería. 

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img4.png").img-fluid    
                        h3 Diseño 
                        .hr-gray
                        p.mt-3 Herramienta estratégica que amplía la competitividad de la organización y donde se deben tener en cuenta algunas fases en las cuales se analiza, planifica y ejecuta para poder responder a las necesidades del usuario, integrando de manera eficiente lo que busca el cliente y lo que ofrece la organización. 

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img5.png").img-fluid    
                        h3 Tendencias 
                        .hr-gray
                        p.mt-3 Orientan el diseño de la colección, suelen estar inspiradas en el arte, la naturaleza, la cultura. 

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img6.png").img-fluid    
                        h3 Colección 
                        .hr-gray
                        p.mt-3 Conjunto de artículos propuestos en una temporada en especial, creada bajo parámetros de moda previamente definidos, aplicando en ella coherencia interna en cuanto a unidad formal, funcional y de estilo.

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img7.png").img-fluid    
                        h3 Línea 
                        .hr-gray
                        p.mt-3 Conjunto de artículos pertenecientes a la misma clase, funcionan de manera similar, comprende variedad de tamaños, colores, precios, entre otros. Estos los define el público y la ocasión de uso   (línea infantil, femenina o masculina – línea deportiva, escolar, etc.).  

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img8.png").img-fluid    
                        h3 #[i Mood Board] 
                        .hr-gray
                        p.mt-3 Herramienta visual del diseñador, que permite plasmar de manera creativa una investigación para posteriormente crear una colección. 

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img9.png").img-fluid    
                        h3 Materiales 
                        .hr-gray
                        p.mt-3 Materia prima o componentes que se utilizan para el desarrollo de un producto. 

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img10.png").img-fluid    
                        h3 Insumos 
                        .hr-gray
                        p.mt-3 Elementos procesados que permiten crear nuevos productos. 

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img11.png").img-fluid    
                        h3 Herramientas 
                        .hr-gray
                        p.mt-3 Instrumentos que permiten desempeñar un trabajo u oficio. 
