.container
    .header-ecored
        h1 3. Materiales para la elaboración de moldes.
    .jumbotron.bg-white
        .header-arrow.py-4
            h3.text-center Los materiales y elementos que se necesitan para realizar el proceso de patronaje son:

        .row.justify-content-center.mt-5
            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img44.png").img-fluid    
                        h3 Cartulina o cartón dúplex
                        .hr-gray
                        p.mt-3 Son láminas de papel de mayor espesor que permiten darle forma y un corte de manera fácil. Con este material se desarrolla la moldería según diseño. Se pueden conseguir comercialmente por pliegos de 100 cm x 70 cm y cartulina en diferentes colores.

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img45.png").img-fluid    
                        h3 Portaminas o lápiz
                        .hr-gray
                        p.mt-3 Utilizado para realizar los trazos sobre el papel, permite generar líneas más exactas para la medida del molde. Se recomienda de mina 0,5 mm a 0,7 mm.

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img46.png").img-fluid    
                        h3 Borrador
                        .hr-gray
                        p.mt-3 Se usa para corregir trazos, los más aconsejables son los de miga de pan o de nata. Estos evitan manchas en el molde y permiten hacer correcciones a los trazos.

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img47.png").img-fluid    
                        h3 Mina plata
                        .hr-gray
                        p.mt-3 Es una mina que sirve para escribir sobre el cuero o el sintético, la cual es fácil de remover. Es útil para marcar líneas de corte de patrones y para marcar líneas que demarcan el dobles de algunas piezas.