.container
    .header-ecored
        h1 6. El trazado de los modelos para diferentes diseños.
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img73.png").img-fluid                    

        p.mt-5 Un boceto es el acercamiento gráfico para la producción de una pieza física que funciona como muestra inicial y es el que logra asentar las ideas que tiene el diseñador en la mente. A partir del proceso de ficha técnica mencionado anteriormente se indican los pasos para realizar bocetos de artículos de marroquinería. Se debe tener en cuenta que el proceso es igual para los diferentes artículos. 
        .sub-ecored.mt-5#61
            h2 6.1 Encajar el dibujo. 
        .row.justify-content-center.align-items-center
            .col-12.col-md-8
                img.img-a(src="assets/images/pages/ilustraciones/img74.png").img-fluid
            .col-12.col-md-4
                p Se realiza a través de líneas de construcción donde se puedan definir las dimensiones del producto (largo, alto y ancho). Estas se podrán borrar u ocultar al culminar el boceto.                   

        .sub-ecored.mt-5#62
            h2 6.2 Determinar proporciones.
        .row.justify-content-center.align-items-center
            .col-12.col-md-8
                img.img-a(src="assets/images/pages/ilustraciones/img75.png").img-fluid
            .col-12.col-md-4
                p A través de estas líneas de construcción se determinan las proporciones de las diferentes partes del producto.                   

        .sub-ecored.mt-5#63
            h2 6.3 Realizar el boceto.
        .row.justify-content-center.align-items-center
            .col-12.col-md-8
                img.img-a(src="assets/images/pages/ilustraciones/img76.png").img-fluid
            .col-12.col-md-4
                p Posteriormente a través del manejo de perspectiva se realiza tridimensionalmente el boceto y se relacionan las características del mismo, entre ellas la propuesta de color.                    

        p.mt-5 El boceto es entonces la materialización de las ideas y no existe ninguna exigencia al momento de realizar su trazo por lo que no es necesario tener conocimientos previos de dibujo.  Definitivamente su realización, permite desarrollar la creatividad en la creación de productos.  