.container
    .header-ecored
        h1 7. Categorías de los productos de marroquinería
    .jumbotron.bg-white
        a.mt-5(href="media/documentos/arbol_de_categorias.pdf", target="_blank")     
            img.img-a(src="assets/images/pages/ilustraciones/img77.png").img-fluid           